<%= form_for(@programme) do |form| %>
  <% if programme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(programme.errors.count, "error") %> prohibited this programme from being saved:</h2>

      <ul>
      <% programme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :programme %>
    <%= form.text_area :programme, required: true %>

    <%= form.label :about %>
    <%= form.text_area :about, required: true %>

    <%= form.label :Starttime %>
    <%= form.text_area :starttime, required: true %>

    <%= form.label :Endtime %>
    <%= form.text_area :endtime, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
