<p id="notice"><%= notice %></p>

<h1>Programmes</h1>

<table>
  <thead>
    <tr>
      <th>Programme</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programmes.each do |programme| %>
      <tr>
        <td><%= programme.programme %></td>
        <td><%= link_to 'Show', programme %></td>
        <% if current_user &&  current_user.admin %>
          <td><%= link_to 'Edit', edit_programme_path(programme) %></td>
          <td><%= link_to 'Destroy', programme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user &&  current_user.admin %>
  <%= link_to 'Add a New Programme', new_programme_path %> <br>
<% end %>
<%= link_to 'View Speakers', speakers_path %><br>
<%= link_to 'Home Page', welcome_index_path %>
