<p id="notice"><%= notice %></p>

<p>
  <strong>Programme:</strong>
  <%= @programme.programme %><br><br>
  <strong>About</strong><br>
  <%= @programme.about %>
</p>

<%= link_to 'Edit', edit_programme_path(@programme) %> |
<%= link_to 'Back', programmes_path %>
