<p id="notice"><%= notice %></p>

<h1>Speakers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.speaker %></td>
        <td><%= link_to 'Show', speaker %></td>
        <% if current_user && current_user.admin %>
          <td><%= link_to 'Edit', edit_speaker_path(speaker) %></td>
          <td><%= link_to 'Destroy', speaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && current_user.admin %>
<%= link_to 'New Speaker', new_speaker_path %>
<% end %><br>
<%= link_to 'View Programmes', programmes_path %><br>
<%= link_to 'Home Page', welcome_index_path %> <br>
